.pasek{
	display:none;
}
.userdiv
{
	display: none;
}
.office_name{
	display:none;
}

title{
	display:none;
}
#logo{
	display:none;
}
#radio_div{
	display: none;
}
#butt{
	display: none;
}
#wyszukiwarka{
	display: none;
}